{
  "data-root": "/local/docker-data",
  "log-driver": "journald",
  "log-level": "warn",
  "debug": false,
  "dns": ["{{ dns1 }}", "{{ dns2 }}", "{{ dns3 }}", "{{ dns4 }}"],
  "default-address-pools":
  [
    {"base":"10.220.0.0/16","size":24}
  ]
}
